.formGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.formGroup div {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding-right: 12px;
    padding-left: 12px;
    box-sizing: border-box;
    border: 1px solid #EDEDED;
    /* box-shadow: 0px 1px 2px 0px #E4E5E73D; */
}

.formGroup div input {
    width: 100%;
    border: none;
    font-size: 16px;
    box-shadow: unset;
    outline: none;

}

.formGroup div span {
    cursor: pointer;
}

.formGroup label {
    color: #76A9A6;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
}

.formGroup input {
    border-radius: 12px;
    border: 1px solid #EDEDED;
    padding: 10px 12px;
    box-sizing: border-box;
    color: #AEAEAE;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.6%;
    vertical-align: middle;
    box-shadow: 0px 1px 2px 0px #E4E5E73D;
}


/* .formGroup input::placeholder {
    color: #FFFFFFD6;
} */