.container {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 64px;
    flex-direction: column;
    padding: 24px 0px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}