.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 324.43px;
    height: 60%;
    background-image: url("../../public/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 22.94px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 39.5px 22.94px;
}

.header h2 {
    color: #2B388F;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.wrapper {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.wrapper h2 span {
    font-weight: 700;
}

.wrapper p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.wrapper p span {
    font-weight: 500;
}

.link {
    padding: 40px 59.5px 72px;
}

.link a {
    width: 100%;
    display: block;
    text-align: center;
    background-color: #2B388F;
    border-radius: 8px;
    padding: 16px 24px 12px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: capitalize;
}